body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #06aed5;
    min-height: 160vh;
  }
  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
  
  }
  
  .txtb{
    width: 100%;
    border: none;
    border-bottom: 2px,solid, #000000;
    padding: 10px;
    outline: none;
    font-size: 18px;
  }
  
  .h3{
    margin: 10px 0 0;
  }
  
  .task{
    width: 100%;
    background: #ff6961;
    padding:18px;
    overflow: hidden;
  }
  .task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comp .task{
    background: darkgray;
    color: inherit;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display:flex;
    align-items: center;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
  }
  